<form class="roll-dialog-window-content standard-form" data-application-part="roll-form">
  <div class="roll-dialog">
    <header class="roll-dialog-header">
      <i class="roll-dialog-icon fa-fw fa-solid fa-dice"></i>
      <div class="roll-dialog-title-subtitle">
        <h1 class="roll-dialog-title"></h1>
        <h2 class="roll-dialog-subtitle">{{subtitle}}</h2>
      </div>
    </header>
    <div class="roll-dialog-rolls" data-application-part="formulas">
      <div class="roll-dialog-dice centered">
        <img src="systems/dnd5e/icons/svg/dice/d20.svg" alt="d20">
      </div>
      <div class="roll-dialog-formulas">
        <div class="roll-dialog-formula-line">
          <span class="roll-dialog-formula" id="roll-formula">{{formula}}</span>
        </div>
        <div class="roll-dialog-form-group">
          <input type="text" class="roll-dialog-full-width" name="situationalBonus" value="" placeholder="Situational Bonus?">
        </div>
      </div>
    </div>
    <fieldset class="roll-dialog-fieldset" data-application-part="configuration">
      <legend>Configuration</legend>
      <div class="roll-dialog-form-group">
        <label>Abilities</label>
        <div class="roll-dialog-form-fields">
          <select name="ability">
            <option value="str">Strength</option>
            <option value="dex">Dexterity</option>
            <option value="con">Constitution</option>
            <option value="int">Intelligence</option>
            <option value="wis">Wisdom</option>
            <option value="cha">Charisma</option>
          </select>
        </div>
      </div>
      <div class="roll-dialog-form-group">
        <label>Roll Mode</label>
        <div class="roll-dialog-form-fields">
          <select name="rollMode">
            <option value="public" selected>Public Roll</option>
            <option value="private">Private GM Roll</option>
            <option value="blind">Blind GM Roll</option>
            <option value="self">Self Roll</option>
          </select>
        </div>
      </div>
    </fieldset>
  </div>
</form>